
/*global*/
body {
  font-family: 'Lato', sans-serif;
}
.container {
  width: 1100px;}

.inner-container {
  margin: auto;
  width: 900px;
}
header {
  color: grey;}

h2 {
position: absolute;
top: 170px;
left: 370px;
color: white;
width: 200px;

}
.box {
  text-align: center;
  width: 800px;
}
    .green {
      width: 200px;
     float: left;
    margin: 10px;
    border: 1px solid lightgrey;}
    .blue {
      width: 200px;
      float: left;
      margin: 10px;
      border: 1px solid lightgrey;}
    .black {
        width: 200px;
        float: left;
        margin: 10px;
        border: 1px solid lightgrey;
  }
.top {
    background: green;}
        .personal {
          color: white;  }
        .price {
          color: white;
          font-size: 60px;
        }

        .month {
          color: lightgrey  }
.top2 {
  background: blue;

}
.top3 {
  background: black;
}



.middle {
  background-color: lightgrey;
  margin: 0px;
  padding: 20px 0;
}
.middle li {
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid grey;
}
button {
  margin-bottom: 20px;
  font-weight: bold;
}

/*paragraphs*/
.paragraphs {
  width: 600px;
  clear: both;
  margin-left: 30px;
}

.para1 {
  width: 300px;
  float: left;
}

.para2 {
  width: 300px;
  float: left;
}

.para3 {
  width: 300px;
  float: left;
}

.para4 {
  width: 300px;
  float: left;
}
/*header*/
.nav li {
  list-style: none;
  display: inline-block;
}
.priceb {
  color: black;
}

footer {
  clear: both;
  margin: none;
  background-color: black;
  padding: 50px;
  width: 800px;
}
.end li{
  list-style: none;
  display: inline-block;
  background: black;
  color: grey;
  font-size: 15px;



 }
 .underlined li {
  text-decoration: underline white;
 }


img {
  width: 900px;

}



/*section 1 */
