
/*global*/
body {
  font-family: 'Lato', sans-serif;
}
.container {
  width: 1100px;}

.inner-container {
  margin: auto;
  width: 900px;
}
header {
  color: grey;}
h2 {
position: absolute;
top: 40px;
left: 40px;
}
.box {
  text-align: center;
  width: 800px;
}
    .green {
      width: 200px;
     float: left;
    margin: 10px;}
    .blue {
      width: 200px;
      float: left;
      margin: 10px;}
    .black {
        width: 200px;
        float: left;
        margin: 10px;
        border: 1px solid lightgrey;
  }
.top {
    background: green;}
        .personal {
          color: white;  }
        .price {
          color: white;
          font-size: 60px;
        }

        .month {
          color: lightgrey  }
.top2 {
  background: blue;

}
.top3 {
  background: black;
}



.middle {
  background-color: lightgrey;
  margin: 0px;
  padding: 20px 0;
}
.middle li {
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid grey;
}

/*paragraphs*/
.paragraphs {
  width: 600px;
  clear: both;
  margin-left: 30px;
}

.para1 {
  width: 300px;
  float: left;
}

.para2 {
  width: 300px;
  float: left;
}

.para3 {
  width: 300px;
  float: left;
}

.para4 {
  width: 300px;
  float: left;
}
/*header*/
.nav li {
  list-style: none;
  display: inline-block;
}
p {
  font-size: 10px;}




/*section 1 */
