header {
  color: grey;}
.box {
  text-align: center;
}

.top {
    background: green;}
        .personal {
          color: white;  }
        .price {
          color: white;
          font-size: 60px;
        }

        .month {
          color: lightgrey  }
.top2 {
  background: blue;
  te
}
.top3 {
  background: black;
}
div
